/* General settings of the site */
* {
   box-sizing: border-box;
}

html {
   font-size: 10px;
   height: 100%;
   background-color: #000;
   border-botom: 2rem solid #CEA11C;
}

h1 {
   font-family: 'Nanum Myeongjo', serif;
   color: #fd0 !important;
}

h2, h3, h4 {
   font-family: 'Inconsolata', monospace;
   color: #f2f2f2;
   letter-spacing: 1px;
   word-spacing: 3px;
   line-height: 1.75;
}

h1 {
   font-size: 8rem;
}

h2 {
   font-size: 3rem;
}

h3 {
   letter-spacing: 1px;
   font-size: 2rem;
   margin-bottom: 2rem;
}

a {
   text-decoration: none;
}

/* Index - Page */
/* Navigation */
.nav-mobile {
   display: none;
}

nav {
   background-color: #fd0;
   width: 95%;
   height: 8rem;
   margin: 0 auto;
   margin-top: -4rem;
   padding: 1rem 2%;
   border-bottom-left-radius: 2rem;
   border-bottom-right-radius: 2rem;
}

.logo {
   margin: 0 auto;
   height: 100%;
   width: 10rem;
   margin-left: 2rem;
}

.nav-menu {
   align-self: center;
}

.nav-menu a {
   font-family: 'Inconsolata', monospace;
   font-size: 2rem;
   text-align: center;
   color: #000;
   text-decoration: none;
   float: right;
   padding: 0.5rem 5%;
   margin: 0 1rem;
   border: #fd0 2px solid;
   border-radius: 10px;
}

.nav-menu a:hover {
   background-color: #CEA11C;
   color: white;
   border-radius: 10px;
   transition: ease-in-out 0.5s;
}

.nav-menu .current {
   color: #CEA11C;
}

/* Jumbotron */
.jumbotron {
   height: 100vh;
   background-color: #000;
   margin-bottom: 0;
}

.jumbotron .about-me h1,
.jumbotron .about-me h2,
.jumbotron .about-me h3 {
   margin-left: 15%;
}

.jumbotron .about-me h1 {
   margin-top: 15%;
}

.jumbotron .about-me h2 {
   margin-top: 3rem;
}

.jumbotron .about-me h3 {
   margin-top: 3rem;
   line-height: 1.75;
}

.jumbotron .container-fluid {
   height: 100%;
}

.jumbotron .pic-container {
   height: 100%;
   display: grid;
   align-items: flex-end;
   padding: 0;
}

.jumbotron .pic-box {
   height: 60rem;
   margin: 0;
   padding: 0;
   display: grid;
}

.jumbotron .me {
   height: auto;
   width: 100%;
   max-height: 72rem;
   max-width: 70rem;
   margin: 0;
   padding: 0;
   align-self: flex-end;
   overflow-y: hidden;
}


/* Footer */
footer {
   background-color: #CEA11C;
   width: 100%;
   height: 2rem;
   margin-top: -2rem;
   position: fixed;
}


/* Media Query - INDEX */
@media (max-width: 992px) {
   .jumbotron .about-me h1,
   .jumbotron .about-me h2,
   .jumbotron .about-me h3 {
      margin-left: 5%;
   }
   
   .jumbotron .about-me h1 {
      margin-top: 8rem;
   }
   
   .jumbotron .about-me h2:nth-child(2) {
      margin-top: 2rem;
   }
   
   .jumbotron .about-me h3:nth-child(5) {
      margin-top: 2rem;
   }
   
   .jumbotron .about-me h3 {
      font-size: 1.75rem;
      /* letter-spacing: 0; */
   }
}

@media (max-width: 768px) {
   .jumbotron {
   /* height: 100rem; */
   padding-bottom: 0;
   }

   .jumbotron .about-me h1 {
      margin-top: 5rem;
      font-size: 6rem;
   }
   
   .jumbotron .about-me h2 {
      font-size: 2.5rem;
   }
   
   .jumbotron .about-me h3 {
      letter-spacing: 0;
   }
   
   .jumbotron .nav-menu a {
      font-size: 1.75rem;
      padding: 0 2.5%;
   }
}

@media (max-width: 576px) {
   .nav-lg-screen {
      display: none;
   }

   .nav-mobile {
      display: contents;
   }
   
   .nav-mobile figure {
      width: 100%;
      margin: 0 auto;
      justify-content: center;
   }
   
   nav {
      height: auto;
      padding: 2rem 0;
   }
   
   .logo {
      width: 12rem;
      margin: 1.5rem auto;
      float: none;
   }
   
   .nav-menu {
      justify-content: center;
      margin-top: 3rem;
   }
   
   .nav-menu a {
      font-size: 1.75rem;
      padding: 0 2%;
      margin: 1rem 5%;
   }
   
   .jumbotron {
      height: auto;
   }

   .jumbotron .about-me {
      margin-right: 0;
   }

   .jumbotron .pic-box {
      height: 50rem;
      max-height: 50rem;
   }
   
}


/*****************************************/
/* Contact - Page */
/* Jumbotron */
.jumbotron .contact h1,
.jumbotron .contact h2,
.jumbotron .contact h3 {
   margin-left: 15%;
}

.jumbotron .contact h1 {
   margin-top: 15%;
}

.jumbotron .contact h2 {
   margin-top: 3rem;
}

.jumbotron .contact h3:nth-child(3) {
   margin-top: 3rem;
   line-height: 1.75;
}

.contact a {
   text-decoration: none;
   color: #fd0;
}

.contact a:hover {
   color: #CEA11C;
   text-decoration: underline;
}

/* Light Bulb with Sepia color change */
.bulb {
   animation: sepia 2s cubic-bezier(0.95, 0.05, 0.795, 0.035) infinite alternate;
   width: 100%;
   height: auto;
   max-height: 50rem;
   max-width: 46rem;
   margin-top: 20%;
}

@keyframes sepia {
   from {
      filter: sepia(0);
   }
   to {
      filter: sepia(1);
   }
}

/* Media Query - CONTACT */
@media (max-width: 992px) {   
   .bulb {
      width: 100%;
      height: auto;
      max-height: 40rem;
      max-width: 40rem;
      margin-top: 50%;
   }
   
}

@media (max-width: 768px) {
   .bulb {
      height: 30rem;
      width: auto;
      margin-top: 0;
   }
}


/*****************************************/
/* Projects - Page */
/* Projects container */
.project-container {
   width: 90%;
   margin: 0 auto;
   margin: 5rem auto;
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(35rem, 1fr));
   grid-template-rows: repeat(auto-fit, minmax(35rem, 1fr));
   grid-gap: 4rem;
}

.project-box {
   height: 35rem;
   box-shadow: 0 0 10px 2px #fd0;
   border-radius: 2rem;
   padding: 0.1rem;
}

.project-box img {
   border-top-left-radius: 2rem;
   border-top-right-radius: 2rem;
   background-size: cover;
   background-position: top center;
   width: 100%;
   height: 73%;
}

.project-box h3 {
   color: #F2F2F2;
   text-align: center;
   padding: 0;
   margin: 0;
   padding-top: 2rem;
}

.project-box h4 {
   color: #F2F2F2;
   text-align: center;
   padding: 0;
   margin: 0;
   padding-bottom: 2rem;
}



/* Media Query - PROJECTS */
@media (max-width: 576px) {
   .project-container {
   width: 100%;
   grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
   grid-template-rows: repeat(auto-fit, minmax(35rem, 1fr));
   grid-gap: 4rem;
}
}

@media (max-width: 768px) {
   .project-container {
      width: 100%;
   }
}




/*****************************************/
/* FONTS */
/* 
font-family: 'Nanum Myeongjo', serif;
font-family: 'Inconsolata', monospace; 
*/


/*****************************************/
/* COLORS */

.colors {
   color: #72727D;
   color: #000;
   color: #FD0;
   color: #CEA11C;
   color: #F2F2F2;
   
   color: rgba 114 114 125 1;
   color: rgba 0 0 0 1;
   color: rgba 255 251 0 1;
   color: rgba 206 161 28 1;
   color: rgba 242 242 242 1;
}
